<h1>
  <%= "Star Wars: Episode #{@movie.episode_id} - #{@movie.title}" %>
</h1>
<div id='movie_creators'>
  <p><%= "Director: #{@movie.director}" %></p>
  <p><%= "Producer: #{@movie.producers}" %></p>
  <p><%= "Release date: #{@movie.release_date}" %></p>
</div>
<p><%= "#{@movie.opening_crawl}" %></p>
<div class="movie_table">
  <div class="movie_table_container">
    <h3>Planets</h3>
    <ul>
      <% @movie.planet_connection.planets.each do |planet|%>
        <li>
          <%= link_to("#{planet.name}", planet_show_path(planet.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="movie_table_container">
    <h3>Starships</h3>
    <ul>
      <% @movie.starship_connection.starships.each do |starship|%>
        <li>
          <%= link_to("#{starship.name}", starship_show_path(starship.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="movie_table_container">
    <h3>Characters</h3>
    <ul>
      <% @movie.character_connection.characters.each do |character|%>
        <li>
          <%= link_to("#{character.name}", people_show_path(character.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
</div> 


